.CardList {
  display: flex;
  flex-direction: column;
}

.CardList h2 {
  padding: 0 24px;
}

.CardList__items {
  padding: 12px 24px;
  display: flex;
  gap: 20px;
  width: 500px;
  overflow-x: scroll;
}