.Post {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
}

.Post__title {
  margin: 0;
}

.Post__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Post__info--categories {
  display: flex;
  gap: 10px;
  list-style-type: none;
  font-size: 0.8rem;
  color: grey;
}

.Post hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid gray;
}