.CardItem {
  display: flex;
  flex-direction: column;
  width: 200px;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 12px;
  transition: all 0.75s;
}

.CardItem img {
  width: 200px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.CardItem__text {
  padding: 6px 12px;
}