.CardMovie {
  display: flex;
  flex-direction: column;
}

.CardMovie img {
  width: 100px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.35s;
  filter: grayscale(0.8);
}

.CardMovie img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.delBtn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background 0.35s;
}

.delBtn:hover {
  background-color: lightsalmon;
  color: white;
}
