@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Press Start 2P', system-ui;
  font-size: 0.8rem;
  background-repeat: no-repeat;
  height: 100vh;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}