.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;


  .inputPokemon,
  .btnPokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    box-sizing: content-box;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    outline: none;
  }

  .btnPokemon {
    cursor: pointer;
  }

}

.Pokedex {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  width: 400px;
  border-radius: 12px;
  background-color: white;

  .image {
    width: 100px;

    &:hover {
      transform: rotate(1, 0);
    }
  }

  .type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &::before {
      content: 'Type: ';
      color: lightseagreen;
      font-size: 1.4rem;
    }
  }

  .stat {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
  }
}